@use "../../../index.scss" as gs;

.body-home-container {
    display: flex;
    flex-direction: column;
    padding: 20px;

    .your-preset {
        font-family: 'Times New Roman', Times, serif;
        font-size: xx-large;
        margin: 10px;
        color: gs.$primary-color;
        text-shadow: 1px 1px 2px gs.$five-color;
    }

    .presets-container {
        // display: flex;
        // flex-wrap: wrap;
        // align-items: start;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;  

        .container-preset-and-button {
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-direction: column;

            .remove-preset {
                align-items: center;
                background-color: rgb(241 67 67 / 77%);
                padding: 5px 0px 5px 0px;
                margin-top: 15px;
                text-align: center;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: 700;
                color: gs.$five-color;
                width: min-content;
                margin: 0 auto;
                padding: 5px;
                
                &:hover {
                    cursor: pointer;
                    transition: all 0.2s ease-in-out;
                    background-color: rgb(241 67 67);
                    border-radius: 2px;
                    padding-left: 7px;
                    padding-right: 7px;
                }
            }
        }
    }

    @media only screen and (max-width: 600px) {
        .presets-container {
            overflow-x: scroll;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
        }
    }

}